
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

.black{
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    transition: 0.5s;
    opacity: 0%;
    z-index: -1;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main h1{
    position: absolute;
    color: white;
    font-size: 4rem;
    font-family: "Astloch", system-ui;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
    top: 0;
}

.main img{
    
    height: 100%;
    object-fit: cover;
}

.main img:hover{
    cursor: pointer;
}

.escada{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0%;
    transition: 0.5s;
    z-index: -1;
}

.escada img{
    height: 100%;
    object-fit:cover;
}

.hitbox_dor_escada{
    width: 100px;
    height: 20%;
    top: 21vh;
    position: absolute;
    
}

.hitbox_dor_escada:hover{
    cursor: pointer;
}

.waiting_room{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0%;
    transition: 0.5s;
    z-index: -1;
}

.waiting_room img{
    width: 100%;
    object-fit:cover;
}

.waiting{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0%;
    transition: 0.5s;
    z-index: -1;
}

.waiting_img{
    height: 100%;
    object-fit:cover;
}

.box{
    position: absolute;
    width: 10%;
    top: 52vh;
    
}

.box:hover{
    cursor: pointer;
}

.man{
    position: absolute;
    right: 300px;
    width: 30%;  
}

.man:hover{
    cursor: default;
    cursor: pointer; 
    animation: horizontal-shaking 0.2s infinite;
    
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}

.photo_1{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 3;
    margin-top: -100vh;
    
}

.photo_1 img{
    width: 20%;
    object-fit: cover;
}

.photo_1 p{
    width: 50%;
    color: white;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: black;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid white;
    transition: 0.3s;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}