
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

.black{
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    transition: 0.5s;
    opacity: 0%;
    z-index: -1;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main h1{
    position: absolute;
    color: white;
    font-size: 4rem;
    font-family: "Astloch", system-ui;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
    top: 0;
}

.main img{
    
    height: 100%;
    object-fit: cover;
}

.main img:hover{
    cursor: pointer;
}

.escada{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0%;
    transition: 0.5s;
    z-index: -1;
}

.escada img{
    height: 100%;
    object-fit:cover;
}

.hitbox_dor_escada{
    width: 100px;
    height: 20%;
    top: 21vh;
    position: absolute;
    
}

.hitbox_dor_escada:hover{
    cursor: pointer;
}

.waiting_room{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0%;
    transition: 0.5s;
    z-index: -1;
}

.waiting_room img{
    width: 100%;
    object-fit:cover;
    opacity: 0%;
    transition: 0.5s;
}

.waiting{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 100%;
    transition: 0.5s;
    z-index: 10;/*-1*/
}



.BEGIN{
    
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0%;
    transition: 1s;
    z-index: -5;
}

.box_open{
    transform: rotate(90deg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 70vw;
    transition: 1s;
    z-index: -1;

}

/* Container para posicionar as imagens */
.container-flutuante {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 300px;
  transition: 1s;
  
}

/* Estilo básico das imagens */
.flutuar {
  width: 100px;
  height: auto;
  transition: 0.5s;
  /* Aplica a animação: nome | duração | timing | repetição */
  animation: flutuando 3s ease-in-out infinite;
  transition: 1s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flutuar:hover {
  animation-play-state: paused; /* Pausa a animação ao passar o mouse */
  cursor: pointer;
}

/* Criando o movimento */
@keyframes flutuando {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px) rotate(5deg); /* Sobe 15 pixels */
  }
  70% {
    transform: translateY(-10px) rotate(-5deg); /* Desce um pouco e gira para o outro lado */
  }

  100% {
    transform: translateY(0px);
  }
}

/* Diferenciando as animações para não ficarem iguais */
.flutuar:nth-child(2) {
  animation-duration: 4s; /* Mais lenta */
  animation-delay: 0.5s;  /* Começa um pouco depois */
}

.flutuar:nth-child(3) {
  animation-duration: 2.5s; /* Mais rápida */
  animation-delay: 1s;
}

.waiting_img{
    height: 100%;
    object-fit:cover;
    display: none;
    transition: 0.5s;
}

.box{
    position: absolute;
    width: 10%;
    top: 52vh;
    transition: 0.5s;
}

.box:hover{
    cursor: pointer;
}

.man{
    position: absolute;
    right: 300px;
    width: 30%;  
    transition: 0.5s;
}

.man:hover{
    cursor: default;
    cursor: pointer; 
    animation: horizontal-shaking 0.2s infinite;
    
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}

.photo_1{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 3;
    margin-top: -100vh;
    
}

.photo_1 img{
    width: 20%;
    object-fit: cover;
}

.photo_1 p{
    width: 50%;
    color: white;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: black;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid white;
    transition: 0.3s;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.seta{
    width: 100px;
    position: absolute;
    top: 20vh;
    left: 5vw;
    z-index: 2;
    filter: invert();
    cursor: pointer;
}

.seta2{
    position: absolute;
    cursor: pointer;
    top: 20vh;
    width: 100px;
    right: 5vw;
}

.old_room{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: -1;
    opacity: 0%;
}

.old_room_img{
    object-fit: cover;
    align-items: center;
}

.man2{
    position: absolute;
    left: 0px;
    width: 30%;
    bottom: 0px;
}